<html lang="pt-BR">
        <head>
            <title>Node JS-Express 2</title>
            <meta charset="UTF8" />
            <link rel="stylesheet" href="/estilos/app.css" />
        </head>
        <body>
            <h1>Node JS no Express 2</h1>
            <!--<p>Olá mundo <%= nome + ' ' + outra%></p>-->
            <!--<p>Olá mundo <%= (function(n,o){return n + ' ' + o})(nome,outra)%></p>-->
            <p>Olá mundo <%= ((n,o) => n + ' ' + o)(nome,outra)%></p>

        </body>
    </html>