<%- include('cabecalho', {title: "Usu치rios"}) %>

<h1>Teste com MongoDB - usando templates parciais EJS</h1>

<ul>
    <li><a href="/">Home</a></li>
    <li>Usu치rios</li>
</ul>
<h2>Lista de usu치rios</h2>
<p><a href="/usuarios/novo">Novo usu치rio</a></p>

<ul>
    <% usuarios.forEach( (usuario) => { %>
        <li>
            <a href="/usuarios/<%=usuario._id%>">
            <%= usuario.nome %>
        </li>
    <% }) %>
</ul>
<%- include('rodape') %>